*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/lzw_dec
src/lzw_enc
src/rle_dec
src/rle_enc
stamp-h1
